@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Switzer';
  src: url('/Switzer-Regular.otf') format('woff2'); /* Update with your font file paths */
  
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 margin: 0;
  padding: 0;
  display: grid;
  width: auto;
  grid-gap: 0.3125rem;
  grid-template-columns: 20rem 1fr; /* 320px wide section and the rest */
  max-width: 90rem; /* Optional: set a maximum width for the entire layout */
  margin: 0 auto;
  font-family: Switzer, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .shadow-inner {
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  }
}




